@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  background-image: url("../../star-wars-app/src/assets/star3.jpeg");
  justify-content: space-between;
  padding: 12px 0;
}

.navbar input {
  background-repeat: no-repeat;
  width: 100%;
  background: #343434;
  outline: transparent;
}

.input-area:focus,
.input-area:active,
.input-area:hover {
  opacity: 1;
  background-color: #343434;
  transition: 350ms;

}

.input-area:focus-visible {
  outline: 2px solid grey;
}

input:focus-visible {
  border: none !important;
}

.explore-button:hover {
  transform: scale(1.015);
  background-color: white;
}

.ring {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: -1;
  margin: auto;
}

.ring:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: -3px;
  border: 3px solid transparent;
  border-top: 3px solid #fff12e;
  border-right: 3px solid #fff12e;
  border-radius: 50%;
  z-index: -1;
  animation: returnCircle 10s linear infinite;
}

.ring .circle {
  display: block;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  height: 4px;
  background-color: transparent;
  transform-origin: left;
  animation: return 10s linear infinite;
  z-index: -1;
}

.ring .circle:before {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -6px;
  right: -9px;
  content: "";
  background-color: #fff12e;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 20px #fff12e;
}

.ring-two {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: -1;
  top: 30%;
  left: 55%;
}

.ring-two:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  content: "";
  border: 3px solid transparent;
  border-bottom: 3px solid #fff12e;
  border-left: 3px solid #fff12e;
  border-radius: 50%;
  z-index: -1;
  animation: returnCircle2 10s linear infinite;
}

.ring-two .circle-two {
  display: block;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  height: 4px;
  background-color: transparent;
  transform-origin: left;
  animation: return2 10s linear infinite;
}

.ring-two .circle-two:before {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -6px;
  right: -9px;
  content: "";
  background-color: #fff12e;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 20px #fff12e;
}

.breadcrumb li+li:before {
  content: "/\00a0";
}

.circle-ring {
  padding-left: 135px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.last-view-boxs .starship-box {
  width: 300px;
}

.last-view-boxs a {
  width: 350px !important;
  margin-right: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 7px;
  margin: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  margin-top: 50px !important;
  padding-top: 20px;
  top: 300px;
  margin-top: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  margin-top: 3px;
  background-clip: padding-box;
  padding: 15px;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media only screen and (max-width: 480px) {

  .ring-two {
    width: 290px;
    height: 290px;
    top: auto;
    left: auto;
  }

  .ring {
    width: 210px;
    height: 210px;

  }

  .circle-ring {
    width: 90%;
    margin: auto;
    padding-left: 0;
    padding-top: 0;
  }

  .last-view-boxs .starship-box {
    width: 285px;
  }

  .navbar {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .navbar-b {
    width: 100%;
  }

  .input-area {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .ring-two {
    width: 320px;
    height: 320px;
    top: auto;
    left: auto;
  }

  .ring {
    width: 240px;
    height: 240px;
  }

  .circle-ring {
    width: 90%;
    margin: auto;
    padding-left: 0;
    padding-top: 0;
    margin-top: 30px;
  }

  .image-text-box {
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
  }

  .navbar {
    width: 90%;
  }

  .last-view-boxs .starship-box img {
    height: 200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ring-two {
    width: 380px;
    height: 380px;
  }

  .ring {
    width: 280px;
    height: 280px;
  }

  .ring img {
    height: auto;
    margin-left: 30px;
    margin-top: 40px;
  }

  .last-view-boxs .starship-box img {
    height: 200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar {
    width: 90%;
  }

  .image-text-box {
    width: 90%;
    margin-top: 50px;
  }

  .circle-ring {
    padding-left: 0;
    padding-top: 0;
  }

  .ring img {
    margin-left: 30px;
    margin-top: 70px;
  }

  .ring-two {
    top: 29%;
    left: 44%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .navbar {
    width: 90%;
  }
}

@keyframes returnCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes return {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

@keyframes returnCircle2 {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}

@keyframes return2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}