@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: black;
  color: white;
  display: flex;
  background-image: url("../../star-wars-app/src/assets/stars.jpeg");
  justify-content: space-between;
  padding: 12px 0;
}

.starship-box {
  background-color: white;
  padding: 25px;
}

.starship-box:hover {
  transform: scale(1.015);
}

.navbar input {
  background-repeat: no-repeat;
  width: 100%;
  background: #00000047;
  border-radius: 10px;
  border: 1px solid #474747;
  padding: 0px 10px;
}

.input-area:focus button{
  display: block;

}